<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="dicoding:email" content="andrewbjamesie@yahoo.com">
    <meta name="dicoding:email" content="chelizasriayusimarsoit@gmail.com">
    <meta name="dicoding:email" content="adestika123@gmail.com">
    <meta name="dicoding:email" content="gilangale90@gmail.com">
    
    <title>{% block title %}{% endblock %}</title>

    <!-- Styles -->
    {% include 'styles.html' %}

    <!-- Favicon -->
    {% include 'favicon.html' %}
</head>
<body>
    <!-- Header -->
    {% include 'header.html' %}

    <!-- Content -->
    {% block content %}{% endblock %}

    <!-- Footer -->
    {% include 'footer.html' %}

    <!-- Scripts -->
    {% include 'scripts.html' %}
</body>
</html>
