{% extends 'layout.html' %}

{% block title %}Jernihin | Prediksi Air{% endblock %}

{% block content %}
<div class="tm-container">
    {% if result == 5 %}
    <p>Your water quality is Excellent</p>
    <p>You can drink your water safely</p>
    {% endif %}

    {% if result == 4 %}
    <p>Your water quality is Good</p>
    <p>You can drink your water safely</p>
    {% endif %}

    {% if result == 3 %}
    <p>Your water quality is Fair</p>
    <p>You can drink your water, but it is recommended to boil it first</p>
    {% endif %}

    {% if result == 2 %}
    <p>Your water quality is Marginal</p>
    <p>Your water sill needs to be purified and further testing</p>
    {% endif %}

    {% if result == 1 %}
    <p>Your water quality is Poor</p>
    <p>You cannot drink your water</p>
    {% endif %}
    
    <br>

    <form id="contact-form" action="/result" method="POST">
        <div class="form-group">
            <label for="fecal" class="form-label">Fecal</label>
            <input type="text" name="fecal" class="form-control" placeholder="Fecal" required>
        </div>
        <div class="form-group">
            <label for="oxygen" class="form-label">Oxygen</label>
            <input type="text" name="oxygen" class="form-control" placeholder="Oxygen" required>
        </div>
        <div class="form-group">
            <label for="ph" class="form-label">pH</label>
            <input type="text" name="ph" class="form-control" placeholder="pH" required>
        </div>
        <div class="form-group">
            <label for="tot_sediment" class="form-label">Total Sediment</label>
            <input type="text" name="tot_sediment" class="form-control" placeholder="Total Sediment" required>
        </div>
        <div class="form-group">
            <label for="temp" class="form-label">Temperature</label>
            <input type="text" name="temp" class="form-control" placeholder="Temperature" required>
        </div>
        <div class="form-group">
            <label for="nitrogen" class="form-label">Nitrogen</label>
            <input type="text" name="nitrogen" class="form-control" placeholder="Nitrogen" required>
        </div>
        <div class="form-group">
            <label for="phosphorus" class="form-label">Phosphorus</label>
            <input type="text" name="phosphorus" class="form-control" placeholder="Phosphorus" required>
        </div>
        <div class="form-group">
            <label for="turbidity" class="form-label">Turbidity</label>
            <input type="text" name="turbidity" class="form-control" placeholder="Turbidity" required>
        </div>
        <div class="form-group">
            <button type="submit" class="tm-btn">Predict</button>
        </div>
    </form>
</div>
{% endblock %}
