<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
<script src="{{url_for('static', filename='js/imagesloaded.pkgd.min.js')}}"></script>
<script src="{{url_for('static', filename='js/isotope.pkgd.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.magnific-popup.min.js')}}"></script>
<script src="{{url_for('static', filename='js/templatemo-script.js')}}"></script>
<script src="{{url_for('static', filename='js/jernihin.js')}}"></script>
